<div class="container">
    <div class="row">
        <div class="col-md-7 features">
            <h3>Our services</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. Praesent gravida dignissim felis, id sagittis mauris rutrum non. Nullam pretium id sem ut hendrerit.
            </p>
            <div class="space-30"></div>
            <div class="row">
                <div class="col-md-3 services-icon">
                    <i class="ion-laptop"></i>
                </div>
                <div class="col-md-9 services-text">
                    <h4 class="heading-mini">100% Responsive layout</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. 
                    </p>
                </div>
            </div><!--services list-->
            <div class="space-30"></div>
            <div class="row">
                <div class="col-md-3 services-icon">
                    <i class="ion-android-developer"></i>
                </div>
                <div class="col-md-9 services-text">
                    <h4 class="heading-mini">Clean code</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. 
                    </p>
                </div>
            </div><!--services list-->
            <div class="space-30"></div>
            <div class="row">
                <div class="col-md-3 services-icon">
                    <i class="ion-compose"></i>
                </div>
                <div class="col-md-9 services-text">
                    <h4 class="heading-mini">Easy customization</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. 
                    </p>
                </div>
            </div><!--services list-->
            <div class="space-30"></div>
            <div class="row">
                <div class="col-md-3 services-icon">
                    <i class="ion-social-twitter"></i>
                </div>
                <div class="col-md-9 services-text">
                    <h4 class="heading-mini">Bootstrap3</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. 
                    </p>
                </div>
            </div><!--services list-->
        </div>
        <div class="col-md-5">
            <img src="assets/img/ipad.png" class="img-responsive" alt="">
        </div>
    </div>

</div><!--container-->