<div class="row">
    <div class="col-md-12">
        <h3 class="heading-sec">Latest news</h3>
    </div>
</div><!--row-->
<div class="row">
    <div class="col-md-4 col-sm-6 margin-btm-20">
        <div class="news-sec">
            <div class="news-thumnail">
                <a href="blog-post.html">
                    <img src="assets/img/blog/blog-1.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="news-desc">
                <h3 class="blog-post-title"><a href="blog-post.html" class="hover-color">Lorem ipsum dollor sit amet</a></h3>
                <span class="news-post-cat">On 26 may 2014 | sports</span>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                </p>
            </div>
        </div>
    </div><!--latest news items-->
    <div class="col-md-4 col-sm-6 margin-btm-20">
        <div class="news-sec">
            <div class="news-thumnail">
                <a href="blog-post.html">
                    <img src="assets/img/blog/blog-2.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="news-desc">
                <h3 class="blog-post-title"><a href="blog-post.html" class="hover-color">Lorem ipsum dollor sit amet</a></h3>
                <span class="news-post-cat">On 26 may 2014 | sports</span>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                </p>
            </div>
        </div>
    </div><!--latest news items-->
    <div class="col-md-4 col-sm-6 margin-btm-20">
        <div class="news-sec">
            <div class="news-thumnail">
                <a href="blog-post.html">
                    <img src="assets/img/blog/blog-4.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="news-desc">
                <h3 class="blog-post-title"><a href="blog-post.html" class="hover-color">Lorem ipsum dollor sit amet</a></h3>
                <span class="news-post-cat">On 26 may 2014 | sports</span>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                </p>
            </div>
        </div>
    </div><!--latest news items-->
</div><!--row end-->