<div class="space-50"></div>
<div class="container">
    <h1>Contact Us</h1>
    <p>{{contactCtrl.pageTitle}}</p>

    <div class="row">
        <div class="col-md-12 text-center wow animated fadeInUp">
            <h2>Bizwrap built for Minimal business Projects</h2>
            <h3 class="subtitle">With Clean and Modern Design</h3>
        </div>

        <div class="space-70"></div>

        <div class="col-md-3 col-sm-6" ng-repeat="featureItem in contactCtrl.features">
            <div class="services-box">
                <feature></feature>
            </div>
        </div>

        <div class="col-md-5">
            <div class="footer-col">
                <h3>Get in touch</h3>
                <form ng-model="contactCtrl">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Name...">
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" placeholder="Email...">
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Subject...">
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" placeholder="Massage..." rows="7"></textarea>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" ng-click="sendMail" class="btn btn-lg btn-primary">Send massege</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!--get in touch col end-->
    </div><!--row end-->
</div>